* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}
img {
  width: "200px";
  height: "200px";
  float: "left";
  margin:"25px";
 border:"4px inset gold";
 cursor:"pointer"
}

